flows/Trabajo_Final
[
    {
        "id": "d52572a34c4747ee",
        "type": "tab",
        "label": "Trabajo_Final",
        "disabled": false,
        "info": ""
    },
    {
        "id": "26176efa40e0d289",
        "type": "mqtt in",
        "z": "d52572a34c4747ee",
        "name": "",
        "topic": "infind/ESPNOW/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "23e23252c67e0cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "23b630a1680f192f",
                "e7171441a38f9c82",
                "bd6e88bd5fc0fa69",
                "fc071243a3f96ad4",
                "8bca6904234a5488",
                "b92227d15be3033a"
            ]
        ]
    },
    {
        "id": "79c78fb62fb80153",
        "type": "mqtt in",
        "z": "d52572a34c4747ee",
        "name": "",
        "topic": "infind/ESPNOW/Estado",
        "qos": "2",
        "datatype": "auto",
        "broker": "23e23252c67e0cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "3a5fed6dd61f3fad",
                "aaf33ab1c481dda7"
            ]
        ]
    },
    {
        "id": "3a5fed6dd61f3fad",
        "type": "json",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "545c641c07797d34",
                "2aedd8a1c5381c62",
                "48129b997bc9a348",
                "90b593d84854b4b2"
            ]
        ]
    },
    {
        "id": "545c641c07797d34",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Sensor tactil",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tactil",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Sensor tactil",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "e6bb27defc802807"
            ]
        ]
    },
    {
        "id": "2aedd8a1c5381c62",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Sensor presencia",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.presencia",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Sensor presencia",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "0c28e6eb35124f55"
            ]
        ]
    },
    {
        "id": "48129b997bc9a348",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 880,
        "wires": []
    },
    {
        "id": "9edd3b3ceab7354b",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "temperatura",
                "pt": "flow",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1120,
        "wires": [
            [
                "6898ea72646eeba1"
            ]
        ]
    },
    {
        "id": "b32edd1fc3908df6",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Humedad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humedad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "humedad",
                "pt": "flow",
                "to": "payload.humedad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "6898ea72646eeba1"
            ]
        ]
    },
    {
        "id": "a359a61ab84fd428",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Luminosidad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.luminosidad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luminosidad",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "luminosidad",
                "pt": "flow",
                "to": "payload.luminosidad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1240,
        "wires": [
            [
                "6898ea72646eeba1",
                "540ff4884da72c6f"
            ]
        ]
    },
    {
        "id": "995af3da9526246a",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "f4b78ebd3a22981e",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\", la temperatura actualmente es de \"+flow.get(\"temperatura\")+\"º y la humedad es de \"+flow.get(\"humedad\")+\". Con estos valores te recomendamos musica \"+flow.get(\"tipo_musica\")+\", con un color de luces \"+flow.get(\"tipo_luces\")+\"\\nSi esta de acuerdo escriba el comando /continua \\n\\nSi prefiere otro tipo de escena escriba uno de los siguientes comandos: \\n/triste \\n/alegre \\n/chill (musica tranquila) \\n/bailar\\n\\n Si simplemente quiere la luz blanca y estar con sonido instrumental escriba el comando /concentracion\\n\\nSi desea volver al inicio y solo tener luz sin música simplemente escriba el comando /blanco_solo\\n\\n\\n Cuando su sesión termine se apagará el sistema solo, no obstante, puede apagarlo manualmente mediante el comando /apagar\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1560,
        "wires": [
            [
                "995af3da9526246a"
            ]
        ]
    },
    {
        "id": "1cda9e556da4c917",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 1440,
        "wires": []
    },
    {
        "id": "486ec0240dbf8c49",
        "type": "telegram receiver",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "1cda9e556da4c917",
                "a0461f2c0dd626a9"
            ],
            []
        ]
    },
    {
        "id": "c190a0bc6a304232",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 1540,
        "wires": [
            [
                "a0461f2c0dd626a9"
            ],
            []
        ]
    },
    {
        "id": "79c14b2f97305a8f",
        "type": "mqtt in",
        "z": "d52572a34c4747ee",
        "name": "",
        "topic": "infind/ESPNOW/Metereologia",
        "qos": "2",
        "datatype": "auto",
        "broker": "23e23252c67e0cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "82f74270fd207f41"
            ]
        ]
    },
    {
        "id": "82f74270fd207f41",
        "type": "json",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "9edd3b3ceab7354b",
                "b32edd1fc3908df6",
                "a359a61ab84fd428",
                "30c0aace10cb9729"
            ]
        ]
    },
    {
        "id": "27bd959c6c9b5053",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Tipo de sesion",
        "func": "var temp=msg.payload.temp_media;\nvar lum=msg.payload.lum_media;\nflow.set(\"temp\",temp);\nflow.set(\"lum\",lum);\n\nif (temp < 20 && lum < 20)\n{\n    flow.set(\"tipo_musica\", \"triste\");\n    flow.set(\"tipo_luces\", \"azul\");\n}\nelse if (temp < 23 && lum > 70)\n{\n    flow.set(\"tipo_musica\", \"alegre\");\n    flow.set(\"tipo_luces\", \"verdes\");\n}\nelse\n{\n    flow.set(\"tipo_musica\", \"chill\");\n    flow.set(\"tipo_luces\", \"mostaza\")\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "54833addc1227c76",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/continua",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 60,
        "y": 1920,
        "wires": [
            [
                "ec9ccb9308d69f3b"
            ],
            []
        ]
    },
    {
        "id": "c48898c75f072130",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Comando estilo musica",
        "func": "var comando = flow.get(\"comando_musica\");\nvar estilo = flow.get(\"tipo_musica\");\nvar comilla = flow.get(\"comilla\")\n\nmsg.payload = comando + comilla + estilo + comilla;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1920,
        "wires": [
            [
                "ab00764b62829054"
            ]
        ]
    },
    {
        "id": "96d212e2ab8f3a72",
        "type": "mongodb out",
        "z": "d52572a34c4747ee",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "30c0aace10cb9729",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1060,
        "wires": [
            [
                "96d212e2ab8f3a72"
            ]
        ]
    },
    {
        "id": "6898ea72646eeba1",
        "type": "ui_chart",
        "z": "d52572a34c4747ee",
        "name": "",
        "group": "d1853d609aa0e0a0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Datos de las últimas 2 horas",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "1d3f38d8130cb69d",
        "type": "mongodb in",
        "z": "d52572a34c4747ee",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "operation": "find",
        "x": 1490,
        "y": 220,
        "wires": [
            [
                "a344280ba3106234"
            ]
        ]
    },
    {
        "id": "5aeebc6f6e55f95a",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Seleccionar 10 últimos valores",
        "func": "msg.payload = {};\nmsg.limit = 10;\nmsg.sort = {\"date\" : -1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "1d3f38d8130cb69d"
            ]
        ]
    },
    {
        "id": "a344280ba3106234",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Calcular medias",
        "func": "var tempmedia=0;\nvar lummedia=0;\n\nfor (var i = 0; i < msg.payload.length; i++) { \n    tempmedia=tempmedia+msg.payload[i].temperatura;\n    lummedia=lummedia+msg.payload[i].luminosidad;\n}\n\ntempmedia=tempmedia/msg.payload.length;\nlummedia=lummedia/msg.payload.length;\n    \nmsg.payload.temp_media=tempmedia;\nmsg.payload.lum_media=lummedia;\n\nreturn msg;  ",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 220,
        "wires": [
            [
                "27bd959c6c9b5053"
            ]
        ]
    },
    {
        "id": "8ac7c09939c2cddb",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/triste",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2300,
        "wires": [
            [
                "c849f1f5a1a54935"
            ],
            []
        ]
    },
    {
        "id": "63587b4a7a8aa0d0",
        "type": "exec",
        "z": "d52572a34c4747ee",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Puesta de escena",
        "x": 1010,
        "y": 2740,
        "wires": [
            [
                "b5535973d6e17ac8"
            ],
            [
                "c1794c3555dcbf6e"
            ],
            []
        ]
    },
    {
        "id": "f15dea4ac86b0681",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Comando escena triste",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"triste\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2320,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "c1794c3555dcbf6e",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 2740,
        "wires": []
    },
    {
        "id": "b5535973d6e17ac8",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 2700,
        "wires": []
    },
    {
        "id": "342c6039042b1d33",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/alegre",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2480,
        "wires": [
            [
                "1659674e87ed4f3b"
            ],
            []
        ]
    },
    {
        "id": "aa1c0ebae8823088",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/chill",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2620,
        "wires": [
            [
                "faadda1539e84c62"
            ],
            []
        ]
    },
    {
        "id": "8d7cdf1d1e920745",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/bailar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2760,
        "wires": [
            [
                "2c673a5577a52109"
            ],
            []
        ]
    },
    {
        "id": "8f7828becd005add",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Comando escena alegre",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"alegre\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2500,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "6b7f39b588362c7b",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Comando escena chill",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"chill\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2640,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "3d88a53a3dc4058e",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Comando escena bailar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"bailar\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2780,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "48b2bec0cc93bc49",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Para reproducir las rutinas de escenas según el estado indicado en telegram",
        "info": "",
        "x": 350,
        "y": 2220,
        "wires": []
    },
    {
        "id": "e6bb27defc802807",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "5aeebc6f6e55f95a",
                "d4b52702f5982f89"
            ]
        ]
    },
    {
        "id": "0c28e6eb35124f55",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "function",
        "func": "if(flow.get(\"Estado_sistema\")==1)\n{\n\n    msg.limit = 1;\n    msg.sort={\"date\":-1};\n\n    flow.set(\"buscar\",0);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 620,
        "wires": [
            [
                "5b37efdfcb068ad3"
            ]
        ]
    },
    {
        "id": "5b37efdfcb068ad3",
        "type": "mongodb in",
        "z": "d52572a34c4747ee",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "operation": "find",
        "x": 1170,
        "y": 620,
        "wires": [
            [
                "9796f2dd3cd8743b"
            ]
        ]
    },
    {
        "id": "9796f2dd3cd8743b",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Apagar sist",
        "func": "var presencia=msg.payload[0].presencia;\nvar fecha=msg.payload[0].date;\n\n\nvar ultima_fecha = flow.get(\"ultima_fecha\");\nvar ahora = new Date();\nvar fecha_actual = ahora.getTime();\n//El valor devuelto por el metodo getTime() es el número \n//de milisegundos desde el 1 de enero de 1970 00:00:00 UTC.\n\nif(presencia==1) \n{\n    \n    flow.set(\"ultima_fecha\",ahora.getTime());\n}\nelse    // ninguno esta activo, trabajamos con el tiempo\n{\n    if((fecha_actual-ultima_fecha)>2400)\n    //5 minutos x 60 segundos x 10 = 3000 milisegundos\n    {\n       flow.set(\"Estado_sistema\",0); \n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 620,
        "wires": [
            [
                "356ea346068584db"
            ]
        ]
    },
    {
        "id": "356ea346068584db",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1550,
        "y": 620,
        "wires": [
            [
                "fe16437d9249a8c2"
            ]
        ]
    },
    {
        "id": "fe16437d9249a8c2",
        "type": "exec",
        "z": "d52572a34c4747ee",
        "command": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"Nadie\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Finalizar_sesion",
        "x": 1720,
        "y": 620,
        "wires": [
            [
                "338131e3344249a6"
            ],
            [
                "703924ee74b8e27e"
            ],
            []
        ]
    },
    {
        "id": "703924ee74b8e27e",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 620,
        "wires": []
    },
    {
        "id": "338131e3344249a6",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 580,
        "wires": []
    },
    {
        "id": "ecaba17a861a77dd",
        "type": "exec",
        "z": "d52572a34c4747ee",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Inicio_sesion",
        "x": 1570,
        "y": 360,
        "wires": [
            [
                "0f4f2a7013ab19e8"
            ],
            [
                "bc9f56783f9e4498"
            ],
            []
        ]
    },
    {
        "id": "bc9f56783f9e4498",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f4f2a7013ab19e8",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab00764b62829054",
        "type": "exec",
        "z": "d52572a34c4747ee",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Puesta de escena",
        "x": 930,
        "y": 1940,
        "wires": [
            [
                "e0625dfe0fe7095f"
            ],
            [
                "de387ddf40d5f34f"
            ],
            []
        ]
    },
    {
        "id": "e0625dfe0fe7095f",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1900,
        "wires": []
    },
    {
        "id": "de387ddf40d5f34f",
        "type": "debug",
        "z": "d52572a34c4747ee",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1940,
        "wires": []
    },
    {
        "id": "032fc1347113fb2b",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Inicio y control del bot de Telegram",
        "info": "",
        "x": 280,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8a6d5192e118edaf",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Continua con los valores recomendados",
        "info": "",
        "x": 230,
        "y": 1820,
        "wires": []
    },
    {
        "id": "c1c05dcc328fd5a6",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Guarda los valores de los sensores llegados por mqtt en la base de datos",
        "info": "",
        "x": 300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "47db1417b1d6dedc",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Control del estado del sistema (Activado/Desactivado) según haya alguien o no.",
        "info": "",
        "x": 280,
        "y": 540,
        "wires": []
    },
    {
        "id": "90b593d84854b4b2",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 820,
        "wires": [
            [
                "084ce5374ae1d56a"
            ]
        ]
    },
    {
        "id": "084ce5374ae1d56a",
        "type": "mongodb out",
        "z": "d52572a34c4747ee",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 970,
        "y": 820,
        "wires": []
    },
    {
        "id": "e6733b15b06adfa8",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Guarda el estado de presencia en la base de datos",
        "info": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "da99a4bd467a643d",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Control de apagado del sistema en caso de ausencia de personas",
        "info": "",
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "2c94ca31bc7cddff",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Inicia el sistema",
        "info": "",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "2843c28d9a544382",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Apaga el sistema",
        "info": "",
        "x": 1720,
        "y": 560,
        "wires": []
    },
    {
        "id": "1285f5e0b5a59303",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Recoge todos los datos recibidos. Utilizamos cada publicación para actualizar los datos",
        "info": "",
        "x": 300,
        "y": 260,
        "wires": []
    },
    {
        "id": "f31a56445b4c1a91",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Comando color luces",
        "func": "var comando = flow.get(\"comando_orden\");\nvar estilo = flow.get(\"tipo_luces\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + \"Pon las  luces de color \" + estilo + comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1980,
        "wires": [
            [
                "ab00764b62829054"
            ]
        ]
    },
    {
        "id": "8c471336fefc93a6",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Determina que estilo de sesión tener según los valores de temperatura y luminosidad",
        "info": "",
        "x": 1390,
        "y": 160,
        "wires": []
    },
    {
        "id": "ec9ccb9308d69f3b",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "fe20c78f76565b8f"
            ],
            [
                "c48898c75f072130",
                "f31a56445b4c1a91"
            ]
        ]
    },
    {
        "id": "e52e630d224c4231",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 650,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "3705bbc79654c302",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/concentracion",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 2880,
        "wires": [
            [
                "5b06fb59fffeeba3"
            ],
            []
        ]
    },
    {
        "id": "2cc60525d28df0b5",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Comando escena concentracion",
        "func": "var comando = flow.get(\"comando_musica\");\nvar estilo = \"Instrumental\";\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla+estilo+comilla;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2920,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "a0461f2c0dd626a9",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "c9f0eeca5a74ea8c"
            ],
            [
                "f4b78ebd3a22981e"
            ]
        ]
    },
    {
        "id": "51c0564c6ee59ee6",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f0eeca5a74ea8c",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\", el sistema está actualmente apagado debido a que no hay nadie. Sepa que la temperatura actualmente en el cuarto es de \"+flow.get(\"temperatura\")+\"º y la humedad es de \"+flow.get(\"humedad\")+\". \\n Si desea puede activarlo manualmente con el comando /inicio, aunque, sepa que si no hay nadie se apagará para ahorrar energía.\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1500,
        "wires": [
            [
                "51c0564c6ee59ee6"
            ]
        ]
    },
    {
        "id": "26467b60b55d2f50",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/inicio",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 270,
        "y": 1620,
        "wires": [
            [
                "f4b78ebd3a22981e"
            ],
            []
        ]
    },
    {
        "id": "d6fb73ee8cb1e982",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Inicio manual",
        "info": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "c849f1f5a1a54935",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2300,
        "wires": [
            [
                "e7e983dc6e7ab3ac"
            ],
            [
                "f15dea4ac86b0681"
            ]
        ]
    },
    {
        "id": "e7e983dc6e7ab3ac",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2280,
        "wires": [
            [
                "353a26b9b98bfbf5"
            ]
        ]
    },
    {
        "id": "353a26b9b98bfbf5",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "1659674e87ed4f3b",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2480,
        "wires": [
            [
                "d23fad19cef49b69"
            ],
            [
                "8f7828becd005add"
            ]
        ]
    },
    {
        "id": "0e24a3a930914b4f",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb8025ab59c5cd8",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "faadda1539e84c62",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2620,
        "wires": [
            [
                "064cabe6f6d784fa"
            ],
            [
                "6b7f39b588362c7b"
            ]
        ]
    },
    {
        "id": "d23fad19cef49b69",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2460,
        "wires": [
            [
                "0e24a3a930914b4f"
            ]
        ]
    },
    {
        "id": "064cabe6f6d784fa",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2600,
        "wires": [
            [
                "5bb8025ab59c5cd8"
            ]
        ]
    },
    {
        "id": "2c673a5577a52109",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2760,
        "wires": [
            [
                "ef4919a472e394da"
            ],
            [
                "3d88a53a3dc4058e"
            ]
        ]
    },
    {
        "id": "ef4919a472e394da",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2740,
        "wires": [
            [
                "60858f738952a5fb"
            ]
        ]
    },
    {
        "id": "60858f738952a5fb",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "5b06fb59fffeeba3",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 2880,
        "wires": [
            [
                "8531293b8f074b92"
            ],
            [
                "2cc60525d28df0b5"
            ]
        ]
    },
    {
        "id": "8531293b8f074b92",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2860,
        "wires": [
            [
                "6c10d83980085056"
            ]
        ]
    },
    {
        "id": "6c10d83980085056",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 590,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "d4b52702f5982f89",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Estado_sistema",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ultima_fecha",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "comando_orden",
                "pt": "flow",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e textcommand:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "comando_musica",
                "pt": "flow",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e playmusic:\"AMAZON_MUSIC\":",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "comilla",
                "pt": "flow",
                "to": "\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "f1c087a996d35308",
                "51252525f5862e6e"
            ]
        ]
    },
    {
        "id": "b9ed41aba0e54e98",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/blanco_solo",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 3060,
        "wires": [
            [
                "ef6e092b6f2bdafa"
            ],
            []
        ]
    },
    {
        "id": "ef6e092b6f2bdafa",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 3040,
        "wires": [
            [
                "6ff860b5feca42a5"
            ],
            [
                "e658e93725edc1fe",
                "cc3e3374bdc0d889"
            ]
        ]
    },
    {
        "id": "6ff860b5feca42a5",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 3020,
        "wires": [
            [
                "c0086543bedc07d1"
            ]
        ]
    },
    {
        "id": "c0086543bedc07d1",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "e658e93725edc1fe",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Comando fin musica",
        "func": "var comando = flow.get(\"comando_orden\");\nvar orden = \"Parar\";\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + orden + comilla;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3080,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "eb164ccc4e233044",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Regular brillo",
        "func": "if(flow.get(\"Estado_sistema\")==1)\n{\n    var comando = flow.get(\"comando_orden\");\n    var luz = flow.get(\"luminosidad_media\");\n    var comilla = flow.get(\"comilla\");\n    \n    msg.payload = comando + comilla + \"Pon las  luces al \" + luz + comilla;\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1300,
        "wires": [
            [
                "64d8a1c93a342d6b"
            ]
        ]
    },
    {
        "id": "64d8a1c93a342d6b",
        "type": "exec",
        "z": "d52572a34c4747ee",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "control brillo",
        "x": 1730,
        "y": 1300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cc3e3374bdc0d889",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Comando color luces",
        "func": "var comando = flow.get(\"comando_orden\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + \"Pon dormitorio de color blanco\"+ comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3140,
        "wires": [
            [
                "63587b4a7a8aa0d0"
            ]
        ]
    },
    {
        "id": "540ff4884da72c6f",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Conversión a número",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1300,
        "wires": [
            [
                "14dad26a56799c88"
            ]
        ]
    },
    {
        "id": "14dad26a56799c88",
        "type": "smooth",
        "z": "d52572a34c4747ee",
        "name": "media",
        "property": "payload",
        "action": "max",
        "count": "50",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 1150,
        "y": 1300,
        "wires": [
            [
                "b94344dc491ee18d"
            ]
        ]
    },
    {
        "id": "b94344dc491ee18d",
        "type": "change",
        "z": "d52572a34c4747ee",
        "name": "Luminosidad_media",
        "rules": [
            {
                "t": "set",
                "p": "luminosidad_media",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 1300,
        "wires": [
            [
                "eb164ccc4e233044"
            ]
        ]
    },
    {
        "id": "01a38e0230f48709",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/inicio",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "c665f06f58b9ba09"
            ],
            []
        ]
    },
    {
        "id": "f1c087a996d35308",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Encender sist",
        "func": "var comando = flow.get(\"comando_orden\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + \"Pon dormitorio de color blanco\"+ comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 320,
        "wires": [
            [
                "ecaba17a861a77dd"
            ]
        ]
    },
    {
        "id": "6d94b56becd8fbe2",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Regula el nivel de brillo de las luces en función de la cantidad de luz que entre",
        "info": "",
        "x": 1270,
        "y": 1260,
        "wires": []
    },
    {
        "id": "fe20c78f76565b8f",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1860,
        "wires": [
            [
                "e52e630d224c4231"
            ]
        ]
    },
    {
        "id": "aad47ea0903809e3",
        "type": "telegram command",
        "z": "d52572a34c4747ee",
        "name": "",
        "command": "/iapagar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 1380,
        "y": 760,
        "wires": [
            [
                "cbce1e9df37e9811"
            ],
            []
        ]
    },
    {
        "id": "27ca7128c7151ee6",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Apagado manual",
        "info": "",
        "x": 1460,
        "y": 720,
        "wires": []
    },
    {
        "id": "e631a6d6f2a2b6aa",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist on",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"El sistema está ya iniciado \"+msg.originalMessage.from.first_name+\". Le refresco los datos: \\n\\nLa temperatura actualmente es de \"+flow.get(\"temperatura\")+\"º y la humedad es de \"+flow.get(\"humedad\")+\". Con estos valores te recomendamos musica \"+flow.get(\"tipo_musica\")+\", con un color de luces \"+flow.get(\"tipo_luces\")+\"\\nSi esta de acuerdo escriba el comando /continua \\n\\nSi prefiere otro tipo de escena escriba uno de los siguientes comandos: \\n/triste \\n/alegre \\n/chill (musica tranquila) \\n/bailar\\n\\n Si simplemente quiere la luz blanca y estar con sonido instrumental escriba el comando /concentracion\\n\\nSi desea volver al inicio y solo tener luz sin música simplemente escriba el comando /blanco_solo\\n\\n\\n Cuando su sesión termine se apagará el sistema solo, no obstante, puede apagarlo manualmente mediante el comando /apagar\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "bcead55e29daceb2"
            ]
        ]
    },
    {
        "id": "bcead55e29daceb2",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c665f06f58b9ba09",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 420,
        "wires": [
            [
                "d4b52702f5982f89"
            ],
            [
                "e631a6d6f2a2b6aa"
            ]
        ]
    },
    {
        "id": "cbce1e9df37e9811",
        "type": "switch",
        "z": "d52572a34c4747ee",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1530,
        "y": 760,
        "wires": [
            [
                "fe16437d9249a8c2"
            ],
            [
                "6b3446a6fd9e94df"
            ]
        ]
    },
    {
        "id": "6b3446a6fd9e94df",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"El sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 760,
        "wires": [
            [
                "df1bcdd2cae57012"
            ]
        ]
    },
    {
        "id": "df1bcdd2cae57012",
        "type": "telegram sender",
        "z": "d52572a34c4747ee",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1850,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "72f43d36fe225eaf",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Guarda los datos recibidos en la base de datos",
        "info": "",
        "x": 880,
        "y": 1020,
        "wires": []
    },
    {
        "id": "51252525f5862e6e",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "Encender sist",
        "func": "var comando = flow.get(\"comando_orden\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando +  comilla + \"Pon volumen al 3\" + comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 360,
        "wires": [
            [
                "ecaba17a861a77dd"
            ]
        ]
    },
    {
        "id": "b0c69e992ae731d4",
        "type": "mqtt out",
        "z": "d52572a34c4747ee",
        "name": "",
        "topic": "infind/ESPNOW/Sistema",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "519a5214787aa647",
        "x": 650,
        "y": 940,
        "wires": []
    },
    {
        "id": "da937fe4da2f9189",
        "type": "comment",
        "z": "d52572a34c4747ee",
        "name": "Topic sistema activado o desactivado",
        "info": "",
        "x": 310,
        "y": 880,
        "wires": []
    },
    {
        "id": "aaf33ab1c481dda7",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "var temp=flow.get(\"temp\");\nvar est=flow.get(\"Estado_sistema\"); \n\nif(temp>=20 && temp<=26) //entre 20 y 26 grados temperatura agradable\n{\nmsg.payload=0;\nflow.set(\"aire\",0);\n}\nelse //si no enciendo el aire y establezco temperatura a 24\n{\nmsg.payload=1;\nflow.set(\"aire\",1);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 940,
        "wires": [
            [
                "b0c69e992ae731d4"
            ]
        ]
    },
    {
        "id": "23b630a1680f192f",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "msg.payload=flow.get(\"Estado_sistema\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 20,
        "wires": [
            [
                "dd5a564cf3a6181f"
            ]
        ]
    },
    {
        "id": "e7171441a38f9c82",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "\nmsg.payload=flow.get(\"aire\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [
            [
                "65b7e2c4af658848"
            ]
        ]
    },
    {
        "id": "dd5a564cf3a6181f",
        "type": "ui_led",
        "z": "d52572a34c4747ee",
        "order": 1,
        "group": "f079cee4c752a9ad",
        "width": 0,
        "height": 0,
        "label": "Sistema On/Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 20,
        "wires": []
    },
    {
        "id": "65b7e2c4af658848",
        "type": "ui_led",
        "z": "d52572a34c4747ee",
        "order": 2,
        "group": "f079cee4c752a9ad",
        "width": 0,
        "height": 0,
        "label": "Aire Acondicionado On/Off",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd6e88bd5fc0fa69",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "\nmsg.payload=flow.get(\"tipo_musica\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "cd6958936c20f20f"
            ]
        ]
    },
    {
        "id": "fc071243a3f96ad4",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "\nmsg.payload=flow.get(\"tipo_luces\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "8d6a13b4738951db"
            ]
        ]
    },
    {
        "id": "8bca6904234a5488",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "\nmsg.payload=flow.get(\"temp\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "52633b4a8f38052c"
            ]
        ]
    },
    {
        "id": "b92227d15be3033a",
        "type": "function",
        "z": "d52572a34c4747ee",
        "name": "",
        "func": "\nmsg.payload=flow.get(\"lum\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "659b37ecac25d140"
            ]
        ]
    },
    {
        "id": "cd6958936c20f20f",
        "type": "ui_text",
        "z": "d52572a34c4747ee",
        "group": "f079cee4c752a9ad",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Musica recomendada por el sistema:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d6a13b4738951db",
        "type": "ui_text",
        "z": "d52572a34c4747ee",
        "group": "f079cee4c752a9ad",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Luces recomendadas por el sistema:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "52633b4a8f38052c",
        "type": "ui_gauge",
        "z": "d52572a34c4747ee",
        "name": "",
        "group": "d1853d609aa0e0a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "º",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#00b39e",
            "#0fe600",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "30",
        "className": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "659b37ecac25d140",
        "type": "ui_gauge",
        "z": "d52572a34c4747ee",
        "name": "",
        "group": "d1853d609aa0e0a0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luz actual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#090c09",
            "#e67a00",
            "#fff700"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "23e23252c67e0cc3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0a162a1c048ea61",
        "type": "telegram bot",
        "botname": "PrealexaInfind_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "connectOptions": "",
        "port": "27017",
        "db": "II5",
        "name": ""
    },
    {
        "id": "d1853d609aa0e0a0",
        "type": "ui_group",
        "name": "Datos",
        "tab": "5cf964493340939d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0be032ffabbbbfe",
        "type": "telegram bot",
        "botname": "PrealexaInfind_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "519a5214787aa647",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f079cee4c752a9ad",
        "type": "ui_group",
        "name": "Estados",
        "tab": "5cf964493340939d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cf964493340939d",
        "type": "ui_tab",
        "name": "Trabajo domotica",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
