flows/Trabajo_Final
[
    {
        "id": "d209909e0e46f2d8",
        "type": "tab",
        "label": "Trabajo_Final_2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "515fc0c1c3cbc5aa",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "d30a20f3105f3a06",
        "type": "mqtt in",
        "z": "d209909e0e46f2d8",
        "name": "",
        "topic": "infind/ESPNOW/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "23e23252c67e0cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "515fc0c1c3cbc5aa"
            ]
        ]
    },
    {
        "id": "a19771552be40497",
        "type": "mqtt in",
        "z": "d209909e0e46f2d8",
        "name": "",
        "topic": "infind/ESPNOW/Estado",
        "qos": "2",
        "datatype": "auto",
        "broker": "23e23252c67e0cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "61f84ba96a25015a"
            ]
        ]
    },
    {
        "id": "61f84ba96a25015a",
        "type": "json",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "c6027c60e115c1bc",
                "8ab66b5e41738c47",
                "924393e493d3d291",
                "ad6a4d9d98583fc4"
            ]
        ]
    },
    {
        "id": "c6027c60e115c1bc",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Sensor tactil",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tactil",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Sensor tactil",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "2fd35b666fe18da4"
            ]
        ]
    },
    {
        "id": "8ab66b5e41738c47",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Sensor presencia",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.presencia",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Sensor presencia",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "26660857bbf70aef"
            ]
        ]
    },
    {
        "id": "924393e493d3d291",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 880,
        "wires": []
    },
    {
        "id": "5ea0cb84bb10f897",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "temperatura",
                "pt": "flow",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1120,
        "wires": [
            [
                "0b29990b16ab04c7"
            ]
        ]
    },
    {
        "id": "4343edd9ab74bbcf",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Humedad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humedad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "humedad",
                "pt": "flow",
                "to": "payload.humedad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "0b29990b16ab04c7"
            ]
        ]
    },
    {
        "id": "de916dcf7e8cd2a7",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Luminosidad",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.luminosidad",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Luminosidad",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "luminosidad",
                "pt": "flow",
                "to": "payload.luminosidad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1240,
        "wires": [
            [
                "0b29990b16ab04c7",
                "5eb915eab9be9518"
            ]
        ]
    },
    {
        "id": "ef196c6ac6b87d44",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "e13946f8791c328b",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\", la temperatura actualmente es de \"+flow.get(\"temperatura\")+\"º y la humedad es de \"+flow.get(\"humedad\")+\". Con estos valores te recomendamos musica \"+flow.get(\"tipo_musica\")+\", con un color de luces \"+flow.get(\"tipo_luces\")+\"\\nSi esta de acuerdo escriba el comando /continua \\n\\nSi prefiere otro tipo de escena escriba uno de los siguientes comandos: \\n/triste \\n/alegre \\n/chill (musica tranquila) \\n/bailar\\n\\n Si simplemente quiere la luz blanca y estar con sonido instrumental escriba el comando /concentracion\\n\\nSi desea volver al inicio y solo tener luz sin música simplemente escriba el comando /blanco_solo\\n\\n\\n Cuando su sesión termine se apagará el sistema solo, no obstante, puede apagarlo manualmente mediante el comando /apagar\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1560,
        "wires": [
            [
                "ef196c6ac6b87d44"
            ]
        ]
    },
    {
        "id": "cc3ec0bed2a01c03",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 1440,
        "wires": []
    },
    {
        "id": "57ab8724ee488f79",
        "type": "telegram receiver",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "cc3ec0bed2a01c03",
                "0831251dc792b5a4"
            ],
            []
        ]
    },
    {
        "id": "6770118b17eade9e",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 1540,
        "wires": [
            [
                "0831251dc792b5a4"
            ],
            []
        ]
    },
    {
        "id": "7c2fb93c487b928d",
        "type": "mqtt in",
        "z": "d209909e0e46f2d8",
        "name": "",
        "topic": "infind/ESPNOW/Metereologia",
        "qos": "2",
        "datatype": "auto",
        "broker": "23e23252c67e0cc3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "3aa038b7bd5ab8f0"
            ]
        ]
    },
    {
        "id": "3aa038b7bd5ab8f0",
        "type": "json",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "5ea0cb84bb10f897",
                "4343edd9ab74bbcf",
                "de916dcf7e8cd2a7",
                "4d7e71febc8550d5"
            ]
        ]
    },
    {
        "id": "79948649b477077e",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Tipo de sesion",
        "func": "var temp=msg.payload.temp_media;\nvar lum=msg.payload.lum_media;\n\nif (temp < 20 && lum < 20)\n{\n    flow.set(\"tipo_musica\", \"triste\");\n    flow.set(\"tipo_luces\", \"azul\");\n}\nelse if (temp < 23 && lum > 70)\n{\n    flow.set(\"tipo_musica\", \"alegre\");\n    flow.set(\"tipo_luces\", \"verdes\");\n}\nelse\n{\n    flow.set(\"tipo_musica\", \"chill\");\n    flow.set(\"tipo_luces\", \"mostaza\")\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "05f1ecba3263c0b8",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/continua",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 60,
        "y": 1920,
        "wires": [
            [
                "697d7d32f7917132"
            ],
            []
        ]
    },
    {
        "id": "0583824da1629714",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Comando estilo musica",
        "func": "var comando = flow.get(\"comando_musica\");\nvar estilo = flow.get(\"tipo_musica\");\nvar comilla = flow.get(\"comilla\")\n\nmsg.payload = comando + comilla + estilo + comilla;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1920,
        "wires": [
            [
                "d493839439c2ec91"
            ]
        ]
    },
    {
        "id": "f9db14ddf5aaa23a",
        "type": "mongodb out",
        "z": "d209909e0e46f2d8",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4d7e71febc8550d5",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1060,
        "wires": [
            [
                "f9db14ddf5aaa23a"
            ]
        ]
    },
    {
        "id": "0b29990b16ab04c7",
        "type": "ui_chart",
        "z": "d209909e0e46f2d8",
        "name": "",
        "group": "d1853d609aa0e0a0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "0f57ea4348e3b738",
        "type": "mongodb in",
        "z": "d209909e0e46f2d8",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "operation": "find",
        "x": 1490,
        "y": 220,
        "wires": [
            [
                "8285fa4ad3fd6945"
            ]
        ]
    },
    {
        "id": "0724bde195f3f7e6",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Seleccionar 10 últimos valores",
        "func": "msg.payload = {};\nmsg.limit = 10;\nmsg.sort = {\"date\" : -1};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "0f57ea4348e3b738"
            ]
        ]
    },
    {
        "id": "8285fa4ad3fd6945",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Calcular medias",
        "func": "var tempmedia=0;\nvar lummedia=0;\n\nfor (var i = 0; i < msg.payload.length; i++) { \n    tempmedia=tempmedia+msg.payload[i].temperatura;\n    lummedia=lummedia+msg.payload[i].luminosidad;\n}\n\ntempmedia=tempmedia/msg.payload.length;\nlummedia=lummedia/msg.payload.length;\n    \nmsg.payload.temp_media=tempmedia;\nmsg.payload.lum_media=lummedia;\n\nreturn msg;  ",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 220,
        "wires": [
            [
                "79948649b477077e"
            ]
        ]
    },
    {
        "id": "7a0926c76df606fb",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/triste",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2300,
        "wires": [
            [
                "c17ca3ac03854215"
            ],
            []
        ]
    },
    {
        "id": "b0d7a952ecb59e23",
        "type": "exec",
        "z": "d209909e0e46f2d8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Puesta de escena",
        "x": 1010,
        "y": 2740,
        "wires": [
            [
                "ce4f4b5a0da4425f"
            ],
            [
                "b5fe31330714e66f"
            ],
            []
        ]
    },
    {
        "id": "3b9fdb733b8cdb4e",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Comando escena triste",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"triste\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2320,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "b5fe31330714e66f",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 2740,
        "wires": []
    },
    {
        "id": "ce4f4b5a0da4425f",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 2700,
        "wires": []
    },
    {
        "id": "12b7c4fbd4a98161",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/alegre",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2480,
        "wires": [
            [
                "7d9ba288af829f26"
            ],
            []
        ]
    },
    {
        "id": "2523ad2225a1e36e",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/chill",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2620,
        "wires": [
            [
                "37a82caa9f743536"
            ],
            []
        ]
    },
    {
        "id": "0b0e50f2929b11c5",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/bailar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 2760,
        "wires": [
            [
                "824cd3ac5ba2e145"
            ],
            []
        ]
    },
    {
        "id": "8e4ecbc5a601d410",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Comando escena alegre",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"alegre\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2500,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "1c6c2e6b9364ba8d",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Comando escena chill",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"chill\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 2640,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "e6b89ea99c9481d8",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Comando escena bailar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"bailar\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 2780,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "f5f1c0de78a6c84d",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Para reproducir las rutinas de escenas según el estado indicado en telegram",
        "info": "",
        "x": 350,
        "y": 2220,
        "wires": []
    },
    {
        "id": "2fd35b666fe18da4",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "0724bde195f3f7e6",
                "fe6e0205424e206f"
            ]
        ]
    },
    {
        "id": "26660857bbf70aef",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "function",
        "func": "if(flow.get(\"Estado_sistema\")==1)\n{\n\n    msg.limit = 1;\n    msg.sort={\"date\":-1};\n\n    flow.set(\"buscar\",0);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 620,
        "wires": [
            [
                "e41fa096801b7520"
            ]
        ]
    },
    {
        "id": "e41fa096801b7520",
        "type": "mongodb in",
        "z": "d209909e0e46f2d8",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "operation": "find",
        "x": 1170,
        "y": 620,
        "wires": [
            [
                "0d6f562d5e816477"
            ]
        ]
    },
    {
        "id": "0d6f562d5e816477",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Apagar sist",
        "func": "var presencia=msg.payload[0].presencia;\nvar fecha=msg.payload[0].date;\n\n\nvar ultima_fecha = flow.get(\"ultima_fecha\");\nvar ahora = new Date();\nvar fecha_actual = ahora.getTime();\n//El valor devuelto por el metodo getTime() es el número \n//de milisegundos desde el 1 de enero de 1970 00:00:00 UTC.\n\nif(presencia==1) \n{\n    \n    flow.set(\"ultima_fecha\",ahora.getTime());\n}\nelse    // ninguno esta activo, trabajamos con el tiempo\n{\n    if((fecha_actual-ultima_fecha)>2400)\n    //5 minutos x 60 segundos x 10 = 3000 milisegundos\n    {\n       flow.set(\"Estado_sistema\",0); \n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 620,
        "wires": [
            [
                "083252885218cfe0"
            ]
        ]
    },
    {
        "id": "083252885218cfe0",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1550,
        "y": 620,
        "wires": [
            [
                "b22b5e9cda289332"
            ]
        ]
    },
    {
        "id": "b22b5e9cda289332",
        "type": "exec",
        "z": "d209909e0e46f2d8",
        "command": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e automation:\"Nadie\"",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Finalizar_sesion",
        "x": 1720,
        "y": 620,
        "wires": [
            [
                "93b6606f050f8ddd"
            ],
            [
                "82006cc60247bdc4"
            ],
            []
        ]
    },
    {
        "id": "82006cc60247bdc4",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 620,
        "wires": []
    },
    {
        "id": "93b6606f050f8ddd",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 580,
        "wires": []
    },
    {
        "id": "282297b67ad8fb98",
        "type": "exec",
        "z": "d209909e0e46f2d8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Inicio_sesion",
        "x": 1570,
        "y": 360,
        "wires": [
            [
                "54d36a449d17f401"
            ],
            [
                "413a97f7aec68cf4"
            ],
            []
        ]
    },
    {
        "id": "413a97f7aec68cf4",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 360,
        "wires": []
    },
    {
        "id": "54d36a449d17f401",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 320,
        "wires": []
    },
    {
        "id": "d493839439c2ec91",
        "type": "exec",
        "z": "d209909e0e46f2d8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Puesta de escena",
        "x": 930,
        "y": 1940,
        "wires": [
            [
                "40d4de28acebf38d"
            ],
            [
                "1fbd72642e12a377"
            ],
            []
        ]
    },
    {
        "id": "40d4de28acebf38d",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Envío",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1900,
        "wires": []
    },
    {
        "id": "1fbd72642e12a377",
        "type": "debug",
        "z": "d209909e0e46f2d8",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1940,
        "wires": []
    },
    {
        "id": "d8c2da69ccec95cb",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Inicio y control del bot de Telegram",
        "info": "",
        "x": 280,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9fc216ea3e6cb73e",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Continua con los valores recomendados",
        "info": "",
        "x": 230,
        "y": 1820,
        "wires": []
    },
    {
        "id": "f9fe2815aa0e225f",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Guarda los valores de los sensores llegados por mqtt en la base de datos",
        "info": "",
        "x": 300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4cc7a072aa416152",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Control del estado del sistema (Activado/Desactivado) según haya alguien o no.",
        "info": "",
        "x": 280,
        "y": 540,
        "wires": []
    },
    {
        "id": "ad6a4d9d98583fc4",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "+ fecha",
        "func": "msg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 820,
        "wires": [
            [
                "e74c387ec68fb1c2"
            ]
        ]
    },
    {
        "id": "e74c387ec68fb1c2",
        "type": "mongodb out",
        "z": "d209909e0e46f2d8",
        "mongodb": "f605fa69.8f5008",
        "name": "",
        "collection": "datos_json",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 970,
        "y": 820,
        "wires": []
    },
    {
        "id": "24f9bc85f5a82752",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Guarda el estado de presencia en la base de datos",
        "info": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "782943feb5a6f452",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Control de apagado del sistema en caso de ausencia de personas",
        "info": "",
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "5e0f1a7dfde779c3",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Inicia el sistema",
        "info": "",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "08750391cf6e2bfc",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Apaga el sistema",
        "info": "",
        "x": 1720,
        "y": 560,
        "wires": []
    },
    {
        "id": "8b9fef39bee2ba86",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Recoge todos los datos enviados de la placa",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "a146f6fe365e7424",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Comando color luces",
        "func": "var comando = flow.get(\"comando_orden\");\nvar estilo = flow.get(\"tipo_luces\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + \"Pon las  luces de color \" + estilo + comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1980,
        "wires": [
            [
                "d493839439c2ec91"
            ]
        ]
    },
    {
        "id": "51c71c389c8cbd0d",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Determina que estilo de sesión tener según los valores de temperatura y luminosidad",
        "info": "",
        "x": 1390,
        "y": 160,
        "wires": []
    },
    {
        "id": "697d7d32f7917132",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "eae9caf693ff1047"
            ],
            [
                "0583824da1629714",
                "a146f6fe365e7424"
            ]
        ]
    },
    {
        "id": "20091e22792bf2ac",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 650,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf7992265f77e7a",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/concentracion",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 2880,
        "wires": [
            [
                "ac4c6db5bbbedaa9"
            ],
            []
        ]
    },
    {
        "id": "6d98c46763dbe5e4",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Comando escena concentracion",
        "func": "var comando = flow.get(\"comando_musica\");\nvar estilo = \"Instrumental\";\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla+estilo+comilla;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2920,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "0831251dc792b5a4",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "ee1a3a540f0a4e43"
            ],
            [
                "e13946f8791c328b"
            ]
        ]
    },
    {
        "id": "465e2ed105e774b6",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 770,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1a3a540f0a4e43",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Hola \"+msg.originalMessage.from.first_name+\", el sistema está actualmente apagado debido a que no hay nadie. Sepa que la temperatura actualmente en el cuarto es de \"+flow.get(\"temperatura\")+\"º y la humedad es de \"+flow.get(\"humedad\")+\". \\n Si desea puede activarlo manualmente con el comando /inicio, aunque, sepa que si no hay nadie se apagará para ahorrar energía.\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1500,
        "wires": [
            [
                "465e2ed105e774b6"
            ]
        ]
    },
    {
        "id": "06d7f0ca0e44b480",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/inicio",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 270,
        "y": 1620,
        "wires": [
            [
                "e13946f8791c328b"
            ],
            []
        ]
    },
    {
        "id": "6d1271d86ecae837",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Inicio manual",
        "info": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "c17ca3ac03854215",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2300,
        "wires": [
            [
                "f16596968ea06415"
            ],
            [
                "3b9fdb733b8cdb4e"
            ]
        ]
    },
    {
        "id": "f16596968ea06415",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2280,
        "wires": [
            [
                "e9998a397fa4ca2f"
            ]
        ]
    },
    {
        "id": "e9998a397fa4ca2f",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "7d9ba288af829f26",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2480,
        "wires": [
            [
                "a48ebd93b9f11057"
            ],
            [
                "8e4ecbc5a601d410"
            ]
        ]
    },
    {
        "id": "3797133aa4f81612",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "4be504b48c62b250",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "37a82caa9f743536",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2620,
        "wires": [
            [
                "81a20a0c7ba3fc0e"
            ],
            [
                "1c6c2e6b9364ba8d"
            ]
        ]
    },
    {
        "id": "a48ebd93b9f11057",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2460,
        "wires": [
            [
                "3797133aa4f81612"
            ]
        ]
    },
    {
        "id": "81a20a0c7ba3fc0e",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2600,
        "wires": [
            [
                "4be504b48c62b250"
            ]
        ]
    },
    {
        "id": "824cd3ac5ba2e145",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2760,
        "wires": [
            [
                "1b424bb2aebe828d"
            ],
            [
                "e6b89ea99c9481d8"
            ]
        ]
    },
    {
        "id": "1b424bb2aebe828d",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2740,
        "wires": [
            [
                "fa92adf2c17f5663"
            ]
        ]
    },
    {
        "id": "fa92adf2c17f5663",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 550,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "ac4c6db5bbbedaa9",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 2880,
        "wires": [
            [
                "367a191635dc532a"
            ],
            [
                "6d98c46763dbe5e4"
            ]
        ]
    },
    {
        "id": "367a191635dc532a",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2860,
        "wires": [
            [
                "35d041aec56409a3"
            ]
        ]
    },
    {
        "id": "35d041aec56409a3",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 590,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "fe6e0205424e206f",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Estado_sistema",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ultima_fecha",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "comando_orden",
                "pt": "flow",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e textcommand:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "comando_musica",
                "pt": "flow",
                "to": "./alexa_remote_control.sh -d \"EchoDotDeDavid\" -e playmusic:\"AMAZON_MUSIC\":",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "comilla",
                "pt": "flow",
                "to": "\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "5521e08a1a4d1056",
                "4aa783298c529e99"
            ]
        ]
    },
    {
        "id": "15db245e86d07fe5",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/blanco_solo",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "b0be032ffabbbbfe",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 3060,
        "wires": [
            [
                "b3b63e156dfdc5fa"
            ],
            []
        ]
    },
    {
        "id": "b3b63e156dfdc5fa",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 3040,
        "wires": [
            [
                "8f2815c14a5395e6"
            ],
            [
                "c65609ef55c2ee45",
                "94c5a0dfc09520b5"
            ]
        ]
    },
    {
        "id": "8f2815c14a5395e6",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 3020,
        "wires": [
            [
                "985b33b213945e23"
            ]
        ]
    },
    {
        "id": "985b33b213945e23",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "c65609ef55c2ee45",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Comando fin musica",
        "func": "var comando = flow.get(\"comando_orden\");\nvar orden = \"Parar\";\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + orden + comilla;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3080,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "93a4bb8c4c958150",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Regular brillo",
        "func": "if(flow.get(\"Estado_sistema\")==1)\n{\n    var comando = flow.get(\"comando_orden\");\n    var luz = flow.get(\"luminosidad_media\");\n    var comilla = flow.get(\"comilla\");\n    \n    msg.payload = comando + comilla + \"Pon las  luces al \" + luz + comilla;\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1300,
        "wires": [
            [
                "91cc940a8b7db206"
            ]
        ]
    },
    {
        "id": "91cc940a8b7db206",
        "type": "exec",
        "z": "d209909e0e46f2d8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "control brillo",
        "x": 1730,
        "y": 1300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "94c5a0dfc09520b5",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Comando color luces",
        "func": "var comando = flow.get(\"comando_orden\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + \"Pon dormitorio de color blanco\"+ comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3140,
        "wires": [
            [
                "b0d7a952ecb59e23"
            ]
        ]
    },
    {
        "id": "5eb915eab9be9518",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Conversión a número",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1300,
        "wires": [
            [
                "043bf2645a3242f4"
            ]
        ]
    },
    {
        "id": "043bf2645a3242f4",
        "type": "smooth",
        "z": "d209909e0e46f2d8",
        "name": "media",
        "property": "payload",
        "action": "max",
        "count": "50",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 1150,
        "y": 1300,
        "wires": [
            [
                "3895d78537ac21e1"
            ]
        ]
    },
    {
        "id": "3895d78537ac21e1",
        "type": "change",
        "z": "d209909e0e46f2d8",
        "name": "Luminosidad_media",
        "rules": [
            {
                "t": "set",
                "p": "luminosidad_media",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 1300,
        "wires": [
            [
                "93a4bb8c4c958150"
            ]
        ]
    },
    {
        "id": "95ba93e72df20dca",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/inicio",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "19407c7262ad2c39"
            ],
            []
        ]
    },
    {
        "id": "5521e08a1a4d1056",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Encender sist",
        "func": "var comando = flow.get(\"comando_orden\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando + comilla + \"Pon dormitorio de color blanco\"+ comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 320,
        "wires": [
            [
                "282297b67ad8fb98"
            ]
        ]
    },
    {
        "id": "89354a6d619a48e3",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Regula el nivel de brillo de las luces en función de la cantidad de luz que entre",
        "info": "",
        "x": 1270,
        "y": 1260,
        "wires": []
    },
    {
        "id": "eae9caf693ff1047",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"Lo siento \"+msg.originalMessage.from.first_name+\", el sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1860,
        "wires": [
            [
                "20091e22792bf2ac"
            ]
        ]
    },
    {
        "id": "27a32e84ed3dd309",
        "type": "telegram command",
        "z": "d209909e0e46f2d8",
        "name": "",
        "command": "/iapagar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "f0a162a1c048ea61",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 1380,
        "y": 760,
        "wires": [
            [
                "5044f1d957d0dd44"
            ],
            []
        ]
    },
    {
        "id": "ff9fd52e28331d27",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Apagado manual",
        "info": "",
        "x": 1460,
        "y": 720,
        "wires": []
    },
    {
        "id": "92bb8149276426b5",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist on",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"El sistema está ya iniciado \"+msg.originalMessage.from.first_name+\". Le refresco los datos: \\n\\nLa temperatura actualmente es de \"+flow.get(\"temperatura\")+\"º y la humedad es de \"+flow.get(\"humedad\")+\". Con estos valores te recomendamos musica \"+flow.get(\"tipo_musica\")+\", con un color de luces \"+flow.get(\"tipo_luces\")+\"\\nSi esta de acuerdo escriba el comando /continua \\n\\nSi prefiere otro tipo de escena escriba uno de los siguientes comandos: \\n/triste \\n/alegre \\n/chill (musica tranquila) \\n/bailar\\n\\n Si simplemente quiere la luz blanca y estar con sonido instrumental escriba el comando /concentracion\\n\\nSi desea volver al inicio y solo tener luz sin música simplemente escriba el comando /blanco_solo\\n\\n\\n Cuando su sesión termine se apagará el sistema solo, no obstante, puede apagarlo manualmente mediante el comando /apagar\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "eaec4df0c98474a1"
            ]
        ]
    },
    {
        "id": "eaec4df0c98474a1",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "19407c7262ad2c39",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 420,
        "wires": [
            [
                "fe6e0205424e206f"
            ],
            [
                "92bb8149276426b5"
            ]
        ]
    },
    {
        "id": "5044f1d957d0dd44",
        "type": "switch",
        "z": "d209909e0e46f2d8",
        "name": "",
        "property": "Estado_sistema",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1530,
        "y": 760,
        "wires": [
            [
                "b22b5e9cda289332"
            ],
            [
                "e1df051f48ab064f"
            ]
        ]
    },
    {
        "id": "e1df051f48ab064f",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Sist off",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n msg.payload.content=\"El sistema está desactivado debido a que no hay nadie asíque no se pondrán los leds ni la música. Si desea, puede iniciarlo manualmente mediante el comando /inicio\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 760,
        "wires": [
            [
                "bc679e018eb37595"
            ]
        ]
    },
    {
        "id": "bc679e018eb37595",
        "type": "telegram sender",
        "z": "d209909e0e46f2d8",
        "name": "",
        "bot": "f0a162a1c048ea61",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1850,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "67048463560d824c",
        "type": "comment",
        "z": "d209909e0e46f2d8",
        "name": "Guarda los datos recibidos en la base de datos",
        "info": "",
        "x": 880,
        "y": 1020,
        "wires": []
    },
    {
        "id": "4aa783298c529e99",
        "type": "function",
        "z": "d209909e0e46f2d8",
        "name": "Encender sist",
        "func": "var comando = flow.get(\"comando_orden\");\nvar comilla = flow.get(\"comilla\");\n\nmsg.payload = comando +  comilla + \"Pon volumen al 3\" + comilla;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 360,
        "wires": [
            [
                "282297b67ad8fb98"
            ]
        ]
    },
    {
        "id": "23e23252c67e0cc3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f0a162a1c048ea61",
        "type": "telegram bot",
        "botname": "PrealexaInfind_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f605fa69.8f5008",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "connectOptions": "",
        "port": "27017",
        "db": "II5",
        "name": ""
    },
    {
        "id": "d1853d609aa0e0a0",
        "type": "ui_group",
        "name": "Datos",
        "tab": "5cf964493340939d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0be032ffabbbbfe",
        "type": "telegram bot",
        "botname": "PrealexaInfind_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5cf964493340939d",
        "type": "ui_tab",
        "name": "Trabajo domotica",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
